In [59]:
# Before running the given file we need to mount colab to our drive
# After that we need to create a folder and we need to add both our data set files

#importlibraries

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import random
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
import re
import string
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow_hub as hub
from sklearn.metrics import confusion_matrix

In [2]:
from google.colab import drive
drive.mount ('/gdrive')

Mounted at /gdrive

In [3]:
os.chdir('/gdrive/My Drive/')

In [4]:
data_train=pd.read_csv('CovidProject/Corona_NLP_train.csv',encoding='latin1')
data_test=pd.read_csv('CovidProject/Corona_NLP_test.csv',encoding='latin1')
data_train.head()

   UserName  ...           Sentiment
0      3799  ...             Neutral
1      3800  ...            Positive
2      3801  ...            Positive
3      3802  ...            Positive
4      3803  ...  Extremely Negative

[5 rows x 6 columns]

In [5]:
data_test.head()

   UserName  ...           Sentiment
0         1  ...  Extremely Negative
1         2  ...            Positive
2         3  ...  Extremely Positive
3         4  ...            Negative
4         5  ...             Neutral

[5 rows x 6 columns]

In [6]:
print(data_train['Sentiment'].unique())

['Neutral' 'Positive' 'Extremely Negative' 'Negative' 'Extremely Positive']

In [7]:
# Merging the extreme cases with their parent class
for i in range(0,len(data_train)):
    if(data_train['Sentiment'][i]=='Extremely Negative'):
        data_train['Sentiment'][i]='Negative'
    elif(data_train['Sentiment'][i]=='Extremely Positive'):
        data_train['Sentiment'][i]='Positive'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
print(data_train['Sentiment'].unique())

['Neutral' 'Positive' 'Negative']

In [9]:
data_train['Sentiment'].isna().sum()

0

In [10]:
# Converting labels to numericals
le=LabelEncoder()

In [11]:
data_train['Sentiment']=le.fit_transform(data_train['Sentiment'])

In [12]:
y=pd.get_dummies(data_train['Sentiment'])

In [13]:
data_train.head()

   UserName  ...  Sentiment
0      3799  ...          1
1      3800  ...          2
2      3801  ...          2
3      3802  ...          2
4      3803  ...          0

[5 rows x 6 columns]

In [14]:
print(le.inverse_transform([0,1,2]))

['Negative' 'Neutral' 'Positive']

In [15]:
n=0
ne=0
p=0

In [16]:
for i in range(0,len(data_train)):
    if(data_train['Sentiment'][i]==0):
        n=n+1
    elif(data_train['Sentiment'][i]==1):
        ne=ne+1
    elif(data_train['Sentiment'][i]==2):
        p=p+1

In [17]:
# Total data for each class
print('Total Labels belonging to Negative Category are ',n)
print('Total Labels belonging to Neutral Category are ',ne)
print('Total Labels belonging to Positive Category are ',p)

Total Labels belonging to Negative Category are  15398
Total Labels belonging to Neutral Category are  7713
Total Labels belonging to Positive Category are  18046

In [18]:
print('Total entries in the train dataset is ',len(data_train))

Total entries in the train dataset is  41157

In [19]:
##Segregating the tweet class from their original dataset
X=data_train.iloc[:,4]

In [20]:

train_text,validation_text,train_labels,validation_labels=train_test_split(X.to_numpy(),y.to_numpy(),test_size=0.2,random_state=42)

In [21]:
##printing validation labels to check if they are in one hot encoded form or not
validation_labels

array([[0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       ...,
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0]], dtype=uint8)

In [22]:
type(train_text)

numpy.ndarray

In [23]:
# Cleaning textual data(Removing Hashtags,Mentions,Links,etc)
for i in range(0,len(train_text)):
    temp=train_text[i]
    temp=re.sub("@\S+", " ", temp)
    temp=re.sub("https*\S+", " ", temp)
    temp=re.sub("#\S+", " ", temp)
    temp=re.sub("\'\w+", '', temp)
    temp=re.sub('[%s]' % re.escape(string.punctuation), ' ', temp)
    temp=re.sub(r'\w*\d+\w*', '', temp)
    temp=re.sub('\s{2,}', " ", temp)
    train_text[i]=temp
    ##print(temp)

In [24]:
for i in range(0,len(validation_text)):
    temp=validation_text[i]
    temp=re.sub("@\S+", " ", temp)
    temp=re.sub("https*\S+", " ", temp)
    temp=re.sub("#\S+", " ", temp)
    temp=re.sub("\'\w+", '', temp)
    temp=re.sub('[%s]' % re.escape(string.punctuation), ' ', temp)
    temp=re.sub(r'\w*\d+\w*', '', temp)
    temp=re.sub('\s{2,}', " ", temp)
    validation_text[i]=temp
    ##print(temp)

In [25]:
# Print some random strings to check if the data has been preprocessed and cleaned well
for i in range(0,10):
    print('New Tweet')
    print('***********')
    random_number=random.randint(0,len(train_text)-1)
    print(train_text[random_number])

New Tweet
***********
 I know is out for ratings and billionaires just look at how much made when he drove down the price of stocks just to buy them at lower prices But letÂs speak facts
New Tweet
***********
Strangers stepping in to help one another during COVID pandemic Strangers stepping in to help one another during COVID pandemic Lauren Verno Consumer investigative reporter Published March
New Tweet
***********
PLEASE STAY HOME or not STAY HOME Pharamacy yes Grocery store yes Cocktails with friends NO Basketball games NO STAY HOME Please
New Tweet
***********
As of this morning we had price gouging complaints to our consumer unit Agents with my office are in the process of following up on every one of them Watch my interview w on what to do if you suspect price gouging
New Tweet
***********
How cheap consumer products in this case a decathlon snorkelling mask and some lateral thinking can help in the fight against
New Tweet
***********
Finally made it into our local supermarket Plenty of important notices dotted throughout the store
New Tweet
***********
Was at the supermarket just now DÃ¼sseldorf Germany Covid cases in inhabitants but Germany tests only if you know a confirmed case Was of people with masks Supermarket was business as usual
New Tweet
***********
Food delivery drivers are in high demand amid the stay at home order but now there is a circulating targeting drivers warns
New Tweet
***********
Industry Companies Shift Focus to Providing PPE Sanitizer During COVID Pandemic
New Tweet
***********
If I catch anyone buying like a hoarder in the supermarket I will publicly shame you

In [26]:
for i in range(0,10):
    print('New Tweet')
    print('***********')
    random_number=random.randint(0,len(validation_text)-1)
    print(validation_text[random_number])

New Tweet
***********
Why we stock up on water cause utility companies will shut you off in the middle of a pandemic the schools close thier doors you lose out on work cause your kid has no where to go and you canÂt afford months worth of food
New Tweet
***********
Are Gift Cards the War Bonds of the COVIDÂ Era Maybe So but Issuers Still Need to Consider the Consumer Protection Laws
New Tweet
***********
Covid is changing the world as we know it The ability to adapt a Digital Marketing is crucial to create meaningful content and Content such as recipes DIY projects home workouts livestreams online shopping and e learning are some ideas
New Tweet
***********
 In China people must use the similar App to scan a QR code before taking any public transit shopping in mall or supermarket entering any office building You can be traceable if they found a covid cases
New Tweet
***********
Will the epidemic harm UK
New Tweet
***********
 ÂCOVID  Â gt
New Tweet
***********
I hope this makes Americans more Asian culturally and by that I mean face masks when sick bowing instead of handshakes and bidets toilets that makes us have no needs for Japan even has an intense respect for that the US could use now
New Tweet
***********
Covid India unable to take full advantage of drop in oil prices
New Tweet
***********
The for the day is about the at
New Tweet
***********
Check out my latest article How does the COVID outbreak accelerate shopping centersÂ omnichannel experiments I Â Some early attempts online via

In [27]:
type(train_text)

numpy.ndarray

In [28]:
sum_length_of_tweet=0

In [29]:
##finding the average length of each tweet
for i in X:
    temp=i
    sum_length_of_tweet=sum_length_of_tweet+len(temp.split())

In [30]:
max_length=round(sum_length_of_tweet/len(X))

In [31]:
print(max_length)

31

In [32]:
# Tokenization and Padding the textual data
Tokenizer?

In [33]:
tokenizer=Tokenizer(num_words=10000,oov_token='</OOV>')

In [34]:
len(tokenizer.word_index)

0

In [35]:
tokenizer.fit_on_texts(train_text)

In [36]:
train_text_sequences=tokenizer.texts_to_sequences(train_text)

In [37]:
train_text_padded=pad_sequences(train_text_sequences,maxlen=max_length,padding='post')

In [38]:
validation_text_sequences=tokenizer.texts_to_sequences(validation_text)

In [39]:
validation_text_padded=pad_sequences(validation_text_sequences,maxlen=max_length,padding='post')

In [40]:
# Printings some random examples to check the function
for i in range(0,10):
    index=random.randint(0,len(train_text)-1)
    print('Original Sentence')
    print('*******')
    print(train_text[index])
    print('Padded Sentence')
    print('*********')
    print(train_text_padded[index])

Original Sentence
*******
Coronavirus concerns drag consumer confidence in Africa
Padded Sentence
*********
[  79  707 5243   36  713    6 1575    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
i never realized how much my face itched at the grocery store before the
Padded Sentence
*********
[  12  294 2963   51  171   37  196    1   16    2   26   18  176    2
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
Headed to the grocery store wish me luck Aliso Viejo California
Padded Sentence
*********
[3251    3    2   26   18 1026   86 2625    1    1 1016    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
Out of stores of are closed amp rest selling only essential items That is one of the reasons the stock is in lower circuit today Supermarket chains like Reliance Fresh Heritage Fresh and local chain Ratnadeep in Hyd are open all days
Padded Sentence
*********
[ 180   24    9   84    5    2 1987    2   83    9    6  434 6116  109
   22  430   68 3690  540    1  540    4  106  264    1    6 7297   10
  207   32  199]
Original Sentence
*******
 fly the colours Repurpose your scarf when out in the supermarket you may be infected donÂt spread Join the Scarf Miele cloth vacuum bag inner Hot glue gun
Padded Sentence
*********
[4433    2 6334    1   33 5783   74   42    6    2   22   13  169   28
  778  216  163  515    2 5783    1 3755 6017 1215 5084 1344    1 2310
    0    0    0]
Original Sentence
*******
New York s workers who are sick with COVID deserve easy access to workers compensation benefits Share our petition and join us as we call for all workers from nurses to doctors airport workers to grocery store clerks are protected
Padded Sentence
*********
[1140  970  444    3   64 3983  901  356   40 1576    4  515   72   27
   20  307    8   32   64   30  499    3  459 3117   64    3   26   18
  893   10 1974]
Original Sentence
*******
 offers T P and paper towels during with Groceries Go Thank you for including us on your latest roundup Via
Padded Sentence
*********
[1008  136 1071    4  104 1652   53   21  328   76  161   13    8  420
   72   14   33  331 5699  112    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
Some where trying to find and buy toilet paper Lysol and water because people have lost their minds at the grocery store Memphis Â
Padded Sentence
*********
[  77  195  285    3  188    4  111  100  104 1949    4  373  102   29
   25  657   52 3852   16    2   26   18    1  842    0    0    0    0
    0    0    0]
Original Sentence
*******
We have enough global supplies according to the and must commit to not stock piling or banning exports or we ll be threatening the of the world s poorest communities
Padded Sentence
*********
[  20   25  241  203  184  779    3    2    4  274 4541    3   34   83
 1672   44 3651 2105   44   20 1024   28 3002    2    5    2  152   78
 7251  863    0]
Original Sentence
*******
Lockdown Day Great Recession killed a number of well known stores Remember Gottchalks Mervyns Circuit City Borders Recently online shopping Toys R Us out of business How many will succumb due to COVID recession
Padded Sentence
*********
[ 809 2243    7  473    5  191 2333  117  404    1    1 6116  509 2912
 1272   49   50 3599  983   72   42    5  168   51  116   35    1   87
    3   11  809]

In [41]:
for i in range(0,10):
    index=random.randint(0,len(validation_text)-1)
    print('Original Sentence')
    print('*******')
    print(validation_text[index])
    print('Padded Sentence')
    print('*********')
    print(validation_text_padded[index])

Original Sentence
*******
Positives from the Pandemic Rediscovering local butchers and grocers No crowds no panic buyers plenty of good quality food on offer and the real sense of supporting smaller businesses at this time
Padded Sentence
*********
[  30    2   62    1  106 4372    4 1993   56 1533   56   65  671  686
    5  158 1289   19   14  673    4    2  319  969    5 1136 2504  223
   16   15   66]
Original Sentence
*******
 Amazing healthcare staff coming up with ways to educate people
Padded Sentence
*********
[ 870  388  138  343   41   21  632    3 4563   29    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
Ask about our new policies during these sensitive times DM for prices and availability
Padded Sentence
*********
[ 606   59   40   91 1976   53  101 4831  182 1397    8   17    4 1750
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
Apparently there s more to surviving than just and
Padded Sentence
*********
[1164   71   78   46    3 3223  103   63    4    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
On a trip to the supermarket noticed music blaring from several windows Just in case neighbours don have the same taste in music maybe wear headphones Don need to wait for the govt to tell you to do it
Padded Sentence
*********
[   1   30  853 4436   63    6  578 2596  114   25    2  289 2287    6
 2085  622  485    1  114   60    3  534    8    2  508    3  562   13
    3   67   23]
Original Sentence
*******
 Kindly review your token prices taking into account People are trying to stock up on necessities There is no money going around What are you doing to stand by your loyal players now
Padded Sentence
*********
[  33    1   17  250  131 1235   29   10  285    3   83   41   14 1329
   71    9   56  229   85  200   58   10   13  183    3  952   45   33
 5079 2431   55]
Original Sentence
*******
The pandemic has led to a wave of event cancellations If youÂre having issues securing remedies promised by an entity from which you bought tickets our Consumer Protection Division may be able to help you More information
Padded Sentence
*********
[1853    5 1361 2382   48  535  325  667 7227    1 3940   45   75 6438
   30  173   13  470 2719   40   36  381 3095  169   28  351    3   81
   13   46  377]
Original Sentence
*******
 This post examines the impact of corruption corona virus spread amp collapse of oil prices on Iraq The crisis offers Iraq October Revolution driven by youth the opportunity organize post Covid elections enact democratic refor
Padded Sentence
*********
[ 178    5 4795  417  153  163   31  828    5   96   17   14 3209    2
   93 1008 3209 4435 5494 1234   45 3312    2 1060 6848  295   11 3995
 5219 5495    1]
Original Sentence
*******
 Gilead Sciences the company producing remdesivir the most promising drug to treat Covid symptoms is one such firm facing investor pressure to raise prices Price gouging during any time of crisis is despicable
Padded Sentence
*********
[   2  397 1350    1    2  157 6834  648    3 1243   11  844    9   84
  313 2043  603 4670 1180    3  753   17  145  552   53  142   66    5
   93    9 4427]
Original Sentence
*******
 Grocery store aisles should be one way otherwise no one can follow social distancing
Padded Sentence
*********
[  26   18 1000  107   28   84  159 1692   56   84   38  553  140  206
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]

In [42]:
train_text_padded.shape[1]

31

In [66]:
# Building models using tf.keras 
# Baseline Model
model_1=tf.keras.models.Sequential([
    tf.keras.layers.Embedding(10000,128,input_length=train_text_padded.shape[1]),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(16,activation='relu'),
    tf.keras.layers.Dense(8,activation='relu'),
    tf.keras.layers.Dense(3,activation='softmax')
])
model_1.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])
history_2=model_1.fit(train_text_padded,train_labels,epochs=4,validation_data=(validation_text_padded,validation_labels))

Epoch 1/4
1029/1029 [==============================] - 25s 24ms/step - loss: 0.7547 - accuracy: 0.6590 - val_loss: 0.5685 - val_accuracy: 0.7767
Epoch 2/4
1029/1029 [==============================] - 24s 23ms/step - loss: 0.4211 - accuracy: 0.8507 - val_loss: 0.5033 - val_accuracy: 0.8126
Epoch 3/4
1029/1029 [==============================] - 24s 23ms/step - loss: 0.3198 - accuracy: 0.8929 - val_loss: 0.5161 - val_accuracy: 0.8100
Epoch 4/4
1029/1029 [==============================] - 24s 23ms/step - loss: 0.2661 - accuracy: 0.9129 - val_loss: 0.5443 - val_accuracy: 0.8139

In [67]:
# Building LSTM Model
# Accuracy improves to ~85% on the validation dataset while using LSTM Based Architecture
model=tf.keras.models.Sequential([
    tf.keras.layers.Embedding(10000,128,input_length=train_text_padded.shape[1]),
    tf.keras.layers.LSTM(512),
    tf.keras.layers.Dense(256,activation='relu'),
    tf.keras.layers.Dense(128,activation='relu'),
    tf.keras.layers.Dense(32,activation='relu'),
    tf.keras.layers.Dense(3,activation='softmax')
])
model.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])
history_4=model.fit(train_text_padded,train_labels,epochs=4,validation_data=(validation_text_padded,validation_labels))

Epoch 1/4
1029/1029 [==============================] - 477s 461ms/step - loss: 0.7586 - accuracy: 0.6465 - val_loss: 0.5009 - val_accuracy: 0.8243
Epoch 2/4
1029/1029 [==============================] - 508s 494ms/step - loss: 0.4001 - accuracy: 0.8614 - val_loss: 0.4220 - val_accuracy: 0.8496
Epoch 3/4
1029/1029 [==============================] - 482s 468ms/step - loss: 0.2888 - accuracy: 0.9019 - val_loss: 0.4233 - val_accuracy: 0.8576
Epoch 4/4
1029/1029 [==============================] - 481s 467ms/step - loss: 0.2167 - accuracy: 0.9279 - val_loss: 0.4528 - val_accuracy: 0.8554

In [44]:
len(train_text_padded[0])

31

In [45]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 31, 128)           1280000
_________________________________________________________________
lstm (LSTM)                  (None, 512)               1312768
_________________________________________________________________
dense (Dense)                (None, 256)               131328
_________________________________________________________________
dense_1 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_2 (Dense)              (None, 32)                4128
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 99
=================================================================
Total params: 2,761,219
Trainable params: 2,761,219
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Trying Universal Sentence Encoder from TensorHub
# embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")

In [47]:
# train_embed = embed(train_text)
# test_embed = embed(validation_text)

In [48]:
# len(train_embed[0])

512

In [68]:
data_test

In [50]:
data_test.iloc[:,4]

0       TRENDING: New Yorkers encounter empty supermar...
1       When I couldn't find hand sanitizer at Fred Me...
2       Find out how you can protect yourself and love...
3       #Panic buying hits #NewYork City as anxious sh...
4       #toiletpaper #dunnypaper #coronavirus #coronav...
                              ...
3793    Meanwhile In A Supermarket in Israel -- People...
3794    Did you panic buy a lot of non-perishable item...
3795    Asst Prof of Economics @cconces was on @NBCPhi...
3796    Gov need to do somethings instead of biar je r...
3797    I and @ForestandPaper members are committed to...
Name: OriginalTweet, Length: 3798, dtype: object

In [51]:
for i in range(0,len(data_test)):
    if(data_test['Sentiment'][i]=='Extremely Negative'):
        data_test['Sentiment'][i]='Negative'
    elif(data_test['Sentiment'][i]=='Extremely Positive'):
        data_test['Sentiment'][i]='Positive'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [52]:
X_test=data_test.iloc[:,4]

In [53]:
##preprocessing the test dataset
for i in range(0,len(X_test)):
    temp=X_test[i]
    temp=re.sub("@\S+", " ", temp)
    temp=re.sub("https*\S+", " ", temp)
    temp=re.sub("#\S+", " ", temp)
    temp=re.sub("\'\w+", '', temp)
    temp=re.sub('[%s]' % re.escape(string.punctuation), ' ', temp)
    temp=re.sub(r'\w*\d+\w*', '', temp)
    temp=re.sub('\s{2,}', " ", temp)
    X_test[i]=temp
    ##print(temp)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [54]:
final_result=[]

In [55]:
for i in range(0,len(X_test)):
    text=[X_test[i]]
    text=tokenizer.texts_to_sequences(text)
    text=pad_sequences(text,maxlen=max_length,padding='post')
    predict_result=model.predict(text)
    result=np.argmax(predict_result,axis=1)
    if(result==0):
        final_result.append('Negative')
    elif(result==1):
        final_result.append('Neutral')
    elif(result==2):
        final_result.append('Positive')

In [56]:
actual_result=data_test.iloc[:,5]

In [57]:
type(actual_result)

pandas.core.series.Series

In [58]:
#  Plotting the confusion matrix to check for accuracy
confusion_matrix(actual_result,final_result, labels=['Negative','Positive','Neutral'])

array([[1324,  253,   56],
       [ 130, 1380,   36],
       [  57,   88,  474]])