In [1]:
#importlibraries

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount ('/gdrive')

Mounted at /gdrive

In [3]:
import os 
os.chdir('/gdrive/My Drive/')
# for dirname, _, filenames in os.walk('/gdrive/My Drive/'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

In [4]:
#import datasets
# data = pd.read_csv("CovidProject/Corona_NLP_train.csv", sep=';', encoding = "ISO-8859-1",error_bad_lines=False)
# test = pd.read_csv("CovidProject/Corona_NLP_test.csv", sep=';', encoding = "ISO-8859-1",error_bad_lines=False)
data_train=pd.read_csv('CovidProject/Corona_NLP_train.csv',encoding='latin1')
data_test=pd.read_csv('CovidProject/Corona_NLP_test.csv',encoding='latin1')
data_train.head()

   UserName  ...           Sentiment
0      3799  ...             Neutral
1      3800  ...            Positive
2      3801  ...            Positive
3      3802  ...            Positive
4      3803  ...  Extremely Negative

[5 rows x 6 columns]

In [5]:
data_test.head()

   UserName  ...           Sentiment
0         1  ...  Extremely Negative
1         2  ...            Positive
2         3  ...  Extremely Positive
3         4  ...            Negative
4         5  ...             Neutral

[5 rows x 6 columns]

In [6]:
print(data_train['Sentiment'].unique())

['Neutral' 'Positive' 'Extremely Negative' 'Negative' 'Extremely Positive']

In [7]:
for i in range(0,len(data_train)):
    if(data_train['Sentiment'][i]=='Extremely Negative'):
        data_train['Sentiment'][i]='Negative'
    elif(data_train['Sentiment'][i]=='Extremely Positive'):
        data_train['Sentiment'][i]='Positive'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:
print(data_train['Sentiment'].unique())

['Neutral' 'Positive' 'Negative']

In [9]:
data_train['Sentiment'].isna().sum()

0

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()

In [12]:
data_train['Sentiment']=le.fit_transform(data_train['Sentiment'])

In [13]:
y=pd.get_dummies(data_train['Sentiment'])

In [14]:
data_train.head()

   UserName  ...  Sentiment
0      3799  ...          1
1      3800  ...          2
2      3801  ...          2
3      3802  ...          2
4      3803  ...          0

[5 rows x 6 columns]

In [15]:
print(le.inverse_transform([0,1,2]))

['Negative' 'Neutral' 'Positive']

In [16]:
n=0
ne=0
p=0

In [17]:
for i in range(0,len(data_train)):
    if(data_train['Sentiment'][i]==0):
        n=n+1
    elif(data_train['Sentiment'][i]==1):
        ne=ne+1
    elif(data_train['Sentiment'][i]==2):
        p=p+1

In [18]:
print('Total Labels belonging to Negative Category are ',n)
print('Total Labels belonging to Neutral Category are ',ne)
print('Total Labels belonging to Positive Category are ',p)

Total Labels belonging to Negative Category are  15398
Total Labels belonging to Neutral Category are  7713
Total Labels belonging to Positive Category are  18046

In [19]:
print('Total entries in the train dataset is ',len(data_train))

Total entries in the train dataset is  41157

In [20]:
##Segregating the tweet class from their original dataset
X=data_train.iloc[:,4]

In [21]:
from sklearn.model_selection import train_test_split
train_text,validation_text,train_labels,validation_labels=train_test_split(X.to_numpy(),y.to_numpy(),test_size=0.2,random_state=42)

In [22]:
##printing validation labels to check if they are in one hot encoded form or not
validation_labels

array([[0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       ...,
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0]], dtype=uint8)

In [23]:
type(train_text)

numpy.ndarray

In [24]:
import re
import string

In [25]:
for i in range(0,len(train_text)):
    temp=train_text[i]
    temp=re.sub("@\S+", " ", temp)
    temp=re.sub("https*\S+", " ", temp)
    temp=re.sub("#\S+", " ", temp)
    temp=re.sub("\'\w+", '', temp)
    temp=re.sub('[%s]' % re.escape(string.punctuation), ' ', temp)
    temp=re.sub(r'\w*\d+\w*', '', temp)
    temp=re.sub('\s{2,}', " ", temp)
    train_text[i]=temp
    ##print(temp)

In [26]:
for i in range(0,len(validation_text)):
    temp=validation_text[i]
    temp=re.sub("@\S+", " ", temp)
    temp=re.sub("https*\S+", " ", temp)
    temp=re.sub("#\S+", " ", temp)
    temp=re.sub("\'\w+", '', temp)
    temp=re.sub('[%s]' % re.escape(string.punctuation), ' ', temp)
    temp=re.sub(r'\w*\d+\w*', '', temp)
    temp=re.sub('\s{2,}', " ", temp)
    validation_text[i]=temp
    ##print(temp)

In [27]:
import random

In [28]:
for i in range(0,10):
    print('New Tweet')
    print('***********')
    random_number=random.randint(0,len(train_text)-1)
    print(train_text[random_number])

New Tweet
***********
The global market is experiencing unimaginable turmoil oil prices have collapsed to near year lows as COVID lockdowns have cascaded through the global economy Where does this leave investors Click for analysis from MUFG s
New Tweet
***********
Yesterday released fiscal stimulus proposals putting during the epidemic It includes At least month for all adults amp child Suspension of consumer credit reporting More details Check below
New Tweet
***********
 went from hundreds to thousands of cases in a matter of days is now starting to see a significant number of cases of and lockdown increases and
New Tweet
***********
Dilshad Garden s Pocket J amp K where my parents and entire family reside has been sealed While there is a Safal store mother dairy grocery store inside the colony no one has a clue about door step delivery if they won t be allowed to step out
New Tweet
***********
Dominicans fight for plantains at a New York supermarket
New Tweet
***********
 Congress asks govt to share profits from low crude oil prices with people
New Tweet
***********
Last week I was at the grocery store and I remember telling the cashier how truly grateful I was for her work When youÂre stocking up or just seeing people make your life easier make sure to say
New Tweet
***********
Nupes pulling up to the grocery store like what it do do Sponsored in part by in conjunction with
New Tweet
***********
Are Âemergency purposesÂ calls and texts subject to Âprior express consentÂ under the Telephone Consumer Protection Act discusses an announcement
New Tweet
***********
Have you started fixing your credit score last year BE READY Real Estate prices will surely drop down due to the COVID if not what are you waiting for Call DM us today dave visit our website

In [29]:
for i in range(0,10):
    print('New Tweet')
    print('***********')
    random_number=random.randint(0,len(validation_text)-1)
    print(validation_text[random_number])

New Tweet
***********
 Responds to Consumer Reports of Due to
New Tweet
***********
prices have declined by more than since January and benchmark crude still trading under per barrel despite an unprecedented deal by the world s biggest producers to cut output to steady a market pummeled by the
New Tweet
***********
It an humble request to all citizens please stay at home don get panic for Time to show patriotism isn it No one is sending you to the borders so avoid social gathering and stay safe amp have healthy food at home
New Tweet
***********
The most valuable commodity Happy Mothers Day Mum
New Tweet
***********
Went to the grocery store to get food Slim pickings Had to buy these baby apples itÂs like bite of a real apple Gotta ration em out I think
New Tweet
***********
When will the supermarket raiders reach stockpile saturation Are they renting storage units or something Or are they panic using everything theyÂre over stocking to justify being complete shitkickers about stripping shelves
New Tweet
***********
 Coronavirus or COVID remains stable and infectious on cardboard and plastic for as long as three days i e hrs Your next super quick courier delivery could be well within CoronavirusÂ window of opportunity to get inside your home and do the damage
New Tweet
***********
No doubt the pandemic is creating challenges for brands in the short term but it also making it crystal clear that understanding consumers is more important than ever We got you covered Check out our blog for the latest
New Tweet
***********
 scenario you buy item from grocery store It happens to have a Virused Droplet on it You put item in freezer Two years later you take item droplet melts gets on finger finger goes in nose New Covid case six if have to happen for virus success
New Tweet
***********
Saw these obnoxious Italian tourist FaceTimeing their friends at the supermarket mumbling ÂLook In America thereÂs no more toilet paper HahahaÂ Meanwhile everyone there is looking at them like ÂItalians What you guys doing here Uh ohÂ

In [30]:
type(train_text)

numpy.ndarray

In [31]:
import tensorflow as tf

In [32]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [33]:
sum_length_of_tweet=0

In [34]:
##finding the average length of each tweet
for i in X:
    temp=i
    sum_length_of_tweet=sum_length_of_tweet+len(temp.split())

In [35]:
max_length=round(sum_length_of_tweet/len(X))

In [36]:
print(max_length)

31

In [37]:
Tokenizer?

In [38]:
tokenizer=Tokenizer(num_words=10000,oov_token='</OOV>')

In [39]:
len(tokenizer.word_index)

0

In [40]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [41]:
tokenizer.fit_on_texts(train_text)

In [42]:
train_text_sequences=tokenizer.texts_to_sequences(train_text)

In [43]:
train_text_padded=pad_sequences(train_text_sequences,maxlen=max_length,padding='post')

In [44]:
validation_text_sequences=tokenizer.texts_to_sequences(validation_text)

In [45]:
validation_text_padded=pad_sequences(validation_text_sequences,maxlen=max_length,padding='post')

In [46]:
for i in range(0,10):
    index=random.randint(0,len(train_text)-1)
    print('Original Sentence')
    print('*******')
    print(train_text[index])
    print('Padded Sentence')
    print('*********')
    print(train_text_padded[index])

Original Sentence
*******
The toilet paper situation in Fully stocked supermarket shelves Just about everyone is wearing masks Temperatures are being checked when you enter closed public spaces Hand sanitiser everywhere Bravo Vietnam
Padded Sentence
*********
[   2  100  104  326    6 1201  495   22  113   63   59  135    9  427
  150 3961   10  118 2724   74   13 1044  287  213 3674   82 1168 1193
 6424 7012    0]
Original Sentence
*******
really want to order my baby some toys on amazon but this whole COVID got me paranoid
Padded Sentence
*********
[ 227  193    3  225   37 1052   77 3599   14  471   47   15  517   11
  198   86 4257    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
My Supermarket Update
Padded Sentence
*********
[ 37  22 466   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0]
Original Sentence
*******
So I just seen talking about investing millions in bringing British staranded abroad back to the Uk but flight prices are thousands and people canÂt afford them so where had you million gone
Padded Sentence
*********
[  63  329  961   59 3595 1002    6 1515 1301    1 5452  172    3    2
  263   47 1645   17   10 1035    4   29  333  741   95   54  195  141
   13  500  513]
Original Sentence
*******
 Information Hub from ccpcireland Information about consumer rights and obligations on businesses in relation to COVID
Padded Sentence
*********
[ 377 2161   30    1  377   59   36 1059    4 5009   14  223    6 4542
    3   11    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
The consumer in and in is expected to shrink and contract after the passing of pandemic
Padded Sentence
*********
[   2   36    6    4    6    9  802    3 7001    4 2185   99    2 3075
    5   62    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
The Competiscan Insights team just released a study on consumer perceptions regarding COVID Clients can access the full report on
Padded Sentence
*********
[   2    1  874  703   63 1709    7 1266   14   36 6912  938   11 1389
   38  444    2  259  282   14    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
One refreshing change of COVID People at my local supermarket pleasant and chatting to me about the common issue of lack of some items People actually looking up instead of into their phones
Padded Sentence
*********
[ 369    5   11   29   16   37  106   22 4896    4 4591    3   86   59
    2 1142  815    5 1120    5   77  180   29  521  338   41  480    5
  131   52 3485]
Original Sentence
*******
 Morrisons launches a Âhardship fundÂ for staff facing financial difficulty as a result of coronavirus expands its home delivery and creates an extra jobs
Padded Sentence
*********
[2435 2346    7    1    1    8  138  603  387 4459   27    7  530    5
   79 4617  132   70  122    4 3888   75  567  418    0    0    0    0
    0    0    0]
Original Sentence
*******
Can you help us we re struggling to get our hands on new supplies of sanitizer to keep our volunteers and clients safe on the food bank frontline If you re well stocked please consider donating some to us
Padded Sentence
*********
[  57   40  257   14   91  184    5   80    3  110   40 1133    4 1389
  160   14    2   19  363  857   48   13  247  191  495   92  650  924
   77    3   72]

In [47]:
for i in range(0,10):
    index=random.randint(0,len(validation_text)-1)
    print('Original Sentence')
    print('*******')
    print(validation_text[index])
    print('Padded Sentence')
    print('*********')
    print(validation_text_padded[index])

Original Sentence
*******
 prices expected to fall due to
Padded Sentence
*********
[ 17 802   3 428  87   3   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0]
Original Sentence
*******
There it is Trump admits he has NOT used the Defense Production Act to get companies to produce the amount of protective equipment American health workers desperately need This is a complete failure of leadership Period
Padded Sentence
*********
[ 167   43   34  440    2 4139  371  683    3   57  226    3  511    2
  798    5  997  763  681  148   64 4648   60   15    9    7 1216 3383
    5 1885  593]
Original Sentence
*******
Police find stolen tractor trailer full of toilet paper
Padded Sentence
*********
[ 438  188 3616    1    1  259    5  100  104    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
Either will kill us or we will starve to death Online shopping in total f ing meltdown as well
Padded Sentence
*********
[1041   35  922   72   44   20   35 2685    3  847   49   50    6 1031
 1027 4958 8605   27  191    0    0    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
People are dying and folks in are shopping YESTERDAY in without masks and gloves Even the employees are not wearing masks
Padded Sentence
*********
[  29   10 1307    4  706    6   10   50  498    6  284  150    4  262
  137    2  175   10   34  427  150    0    0    0    0    0    0    0
    0    0    0]
Original Sentence
*******
Milk prices could fall as a result of the putting them close to levels RabobankÂs Tom Bailey discusses how restaurant amp school closures are likely to affect consumption and shares his outlook for with
Padded Sentence
*********
[ 428   27    7  530    5    2  483   95  310    3  977    1 3736    1
 2392   51  616   31  736  710   10  474    3 1074 1240    4 1076  243
 1774    8   21]
Original Sentence
*******
This is how to do it
Padded Sentence
*********
[15  9 51  3 67 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0]
Original Sentence
*******
Today at a supermarket we saw people who were wearing masks take off their masks to greet each other with kisses on the cheek why wear the masks in the first place So frustrating that people are being this careless
Padded Sentence
*********
[ 427  150  128  166   52  150    3    1  322   98   21    1   14    2
    1  126  485    2  150    6    2  181  312   54 4458   24   29   10
  118   15 9133]
Original Sentence
*******
Met a lady today who has loo rolls toothpaste shampoo and bleach bottles Not panic buying she tells me her religion requires her to have this many Is that even a thing
Padded Sentence
*********
[   7 1135  109   61   43 1373  579    1 7344    4 2578 1256   34   65
   89  244 1603   86  242 8144 2933  242    3   25   15  116    9   24
  137    7  297]
Original Sentence
*******
List Food banks school districts and some local pantries are providing free meals for people and asking for donations and volunteers as they face a significant increase in demand
Padded Sentence
*********
[ 383   19  341  736 8060    4   77  106 1300   10  651  190 1055    8
   29    4  725    8  936    4 1133   27   39  196    7 1202  276    6
   73    0    0]

In [48]:
train_text_padded.shape[1]

31

In [49]:
# model_1=tf.keras.models.Sequential([
#     tf.keras.layers.Embedding(10000,128,input_length=train_text_padded.shape[1]),
#     tf.keras.layers.GlobalAveragePooling1D(),
#     tf.keras.layers.Dense(8,activation='relu'),
#     tf.keras.layers.Dense(3,activation='softmax')
# ])

In [50]:
# model_1.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 31, 128)           1280000
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 8)                 1032
_________________________________________________________________
dense_1 (Dense)              (None, 3)                 27
=================================================================
Total params: 1,281,059
Trainable params: 1,281,059
Non-trainable params: 0
_________________________________________________________________

In [51]:
# model_1.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])

In [52]:
# history_1=model_1.fit(train_text_padded,train_labels,epochs=4,validation_data=(validation_text_padded,validation_labels))

Epoch 1/4
1029/1029 [==============================] - 15s 13ms/step - loss: 0.7844 - accuracy: 0.6560 - val_loss: 0.5943 - val_accuracy: 0.7824
Epoch 2/4
1029/1029 [==============================] - 14s 14ms/step - loss: 0.4641 - accuracy: 0.8366 - val_loss: 0.5338 - val_accuracy: 0.8071
Epoch 3/4
1029/1029 [==============================] - 14s 13ms/step - loss: 0.3487 - accuracy: 0.8853 - val_loss: 0.5265 - val_accuracy: 0.8151
Epoch 4/4
1029/1029 [==============================] - 14s 14ms/step - loss: 0.2890 - accuracy: 0.9087 - val_loss: 0.5541 - val_accuracy: 0.8115

In [53]:
# model_1.evaluate(validation_text_padded,validation_labels)

258/258 [==============================] - 0s 1ms/step - loss: 0.5541 - accuracy: 0.8115

[0.5541064739227295, 0.8114674687385559]

In [54]:
# #baseline model 2
# model_2=tf.keras.models.Sequential([
#     tf.keras.layers.Embedding(10000,128,input_length=train_text_padded.shape[1]),
#     tf.keras.layers.GlobalAveragePooling1D(),
#     tf.keras.layers.Dense(16,activation='relu'),
#     tf.keras.layers.Dense(8,activation='relu'),
#     tf.keras.layers.Dense(3,activation='softmax')
# ])
# model_2.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])
# history_2=model_2.fit(train_text_padded,train_labels,epochs=4,validation_data=(validation_text_padded,validation_labels))

Epoch 1/4
1029/1029 [==============================] - 14s 13ms/step - loss: 0.7719 - accuracy: 0.6511 - val_loss: 0.5684 - val_accuracy: 0.7862
Epoch 2/4
1029/1029 [==============================] - 14s 14ms/step - loss: 0.4358 - accuracy: 0.8474 - val_loss: 0.5252 - val_accuracy: 0.8044
Epoch 3/4
1029/1029 [==============================] - 14s 13ms/step - loss: 0.3311 - accuracy: 0.8905 - val_loss: 0.5171 - val_accuracy: 0.8169
Epoch 4/4
1029/1029 [==============================] - 13s 13ms/step - loss: 0.2748 - accuracy: 0.9095 - val_loss: 0.5440 - val_accuracy: 0.8127

In [55]:
# model_3=tf.keras.models.Sequential([
#     tf.keras.layers.Embedding(10000,128,input_length=max_length),
#     tf.keras.layers.LSTM(8),
#     tf.keras.layers.Dense(8,activation='relu'),
#     tf.keras.layers.Dense(3,activation='softmax')
# ])
# model_3.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])
# history_3=model_3.fit(train_text_padded,train_labels,epochs=3,validation_data=(validation_text_padded,validation_labels))

Epoch 1/3
1029/1029 [==============================] - 30s 28ms/step - loss: 0.8929 - accuracy: 0.5387 - val_loss: 0.6002 - val_accuracy: 0.7700
Epoch 2/3
1029/1029 [==============================] - 28s 27ms/step - loss: 0.4438 - accuracy: 0.8423 - val_loss: 0.4359 - val_accuracy: 0.8467
Epoch 3/3
1029/1029 [==============================] - 28s 27ms/step - loss: 0.3052 - accuracy: 0.9021 - val_loss: 0.4412 - val_accuracy: 0.8480

In [76]:
model4=tf.keras.models.Sequential([
    tf.keras.layers.Embedding(10000,128,input_length=train_text_padded.shape[1]),
    tf.keras.layers.LSTM(512),
    tf.keras.layers.Dense(256,activation='relu'),
    tf.keras.layers.Dense(128,activation='relu'),
    tf.keras.layers.Dense(32,activation='relu'),
    tf.keras.layers.Dense(3,activation='softmax')
])
model4.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])
history_4=model4.fit(train_text_padded,train_labels,epochs=4,validation_data=(validation_text_padded,validation_labels))

Epoch 1/4
1029/1029 [==============================] - 519s 501ms/step - loss: 0.7502 - accuracy: 0.6552 - val_loss: 0.5058 - val_accuracy: 0.8139
Epoch 2/4
1029/1029 [==============================] - 506s 492ms/step - loss: 0.3895 - accuracy: 0.8658 - val_loss: 0.4345 - val_accuracy: 0.8497
Epoch 3/4
1029/1029 [==============================] - 525s 510ms/step - loss: 0.2814 - accuracy: 0.9053 - val_loss: 0.4283 - val_accuracy: 0.8587
Epoch 4/4
1029/1029 [==============================] - 565s 549ms/step - loss: 0.2100 - accuracy: 0.9295 - val_loss: 0.4484 - val_accuracy: 0.8477

In [57]:
len(train_text_padded[0])

31

In [58]:
model4.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_3 (Embedding)      (None, 31, 128)           1280000
_________________________________________________________________
lstm_1 (LSTM)                (None, 512)               1312768
_________________________________________________________________
dense_7 (Dense)              (None, 256)               131328
_________________________________________________________________
dense_8 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_9 (Dense)              (None, 32)                4128
_________________________________________________________________
dense_10 (Dense)             (None, 3)                 99
=================================================================
Total params: 2,761,219
Trainable params: 2,761,219
Non-trainable params: 0
_________________________________________________________________

In [59]:
import tensorflow_hub as hub

In [60]:
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")

In [61]:
train_embed = embed(train_text)
test_embed = embed(validation_text)

In [62]:
len(train_embed[0])

512

In [63]:
# model_6=tf.keras.models.Sequential([
#     tf.keras.layers.Dense(3,activation='softmax')
# ])
# model_6.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])
# model_6.fit(train_embed,train_labels,epochs=30,validation_data=(test_embed,validation_labels))

In [64]:
# model_new=tf.keras.models.Sequential([
#     tf.keras.layers.Embedding(10000,128,input_length=max_length),
#     tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64,return_sequences=True)),
#     tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32)),
#     tf.keras.layers.Dense(16,activation='relu'),
#     tf.keras.layers.Dense(3,activation='softmax')
# ])
# model_new.compile(loss=tf.keras.losses.CategoricalCrossentropy(),optimizer=tf.keras.optimizers.Adam(),metrics=['accuracy'])
# model_new.fit(train_embed,train_labels,epochs=5,validation_data=(test_embed,validation_labels))

In [65]:
data_test

      UserName  ...           Sentiment
0            1  ...  Extremely Negative
1            2  ...            Positive
2            3  ...  Extremely Positive
3            4  ...            Negative
4            5  ...             Neutral
...        ...  ...                 ...
3793      3794  ...            Positive
3794      3795  ...            Negative
3795      3796  ...             Neutral
3796      3797  ...  Extremely Negative
3797      3798  ...  Extremely Positive

[3798 rows x 6 columns]

In [66]:
data_test.iloc[:,4]

0       TRENDING: New Yorkers encounter empty supermar...
1       When I couldn't find hand sanitizer at Fred Me...
2       Find out how you can protect yourself and love...
3       #Panic buying hits #NewYork City as anxious sh...
4       #toiletpaper #dunnypaper #coronavirus #coronav...
                              ...
3793    Meanwhile In A Supermarket in Israel -- People...
3794    Did you panic buy a lot of non-perishable item...
3795    Asst Prof of Economics @cconces was on @NBCPhi...
3796    Gov need to do somethings instead of biar je r...
3797    I and @ForestandPaper members are committed to...
Name: OriginalTweet, Length: 3798, dtype: object

In [67]:
for i in range(0,len(data_test)):
    if(data_test['Sentiment'][i]=='Extremely Negative'):
        data_test['Sentiment'][i]='Negative'
    elif(data_test['Sentiment'][i]=='Extremely Positive'):
        data_test['Sentiment'][i]='Positive'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [68]:
X_test=data_test.iloc[:,4]

In [69]:
##preprocessing the test dataset
for i in range(0,len(X_test)):
    temp=X_test[i]
    temp=re.sub("@\S+", " ", temp)
    temp=re.sub("https*\S+", " ", temp)
    temp=re.sub("#\S+", " ", temp)
    temp=re.sub("\'\w+", '', temp)
    temp=re.sub('[%s]' % re.escape(string.punctuation), ' ', temp)
    temp=re.sub(r'\w*\d+\w*', '', temp)
    temp=re.sub('\s{2,}', " ", temp)
    X_test[i]=temp
    ##print(temp)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [70]:
final_result=[]

In [92]:
for i in range(0,len(X_test)):
    text=[X_test[i]]
    text=tokenizer.texts_to_sequences(text)
    text=pad_sequences(text,maxlen=max_length,padding='post')
    predict_result=model4.predict(text)
    result=np.argmax(predict_result,axis=1)
    if(result==0):
        final_result.append('Negative')
    elif(result==1):
        final_result.append('Neutral')
    elif(result==2):
        final_result.append('Positive')

In [93]:
actual_result=data_test.iloc[:,5]

In [94]:
type(actual_result)

pandas.core.series.Series

In [97]:
from sklearn.metrics import confusion_matrix
confusion_matrix(actual_result,final_result, labels=[])

ValueError: ignored